*{padding: 0;margin: 0;}
body
{
    font-family: 'Exo 2', sans-serif  !important;
    background-color: #f8f1f1;
}
a{
    text-decoration: none !important;
}
.btn{
    border-radius: 0px !important;
}
.header {
    background: white;
}
.container{
    max-width: 1240px;
}
.logo img {
    height: 72px;
}

.search-box {
    margin-top: 18px;
}

span.uk-margin-small-right.uk-icon {
    margin-right: 0px !important;
}

.input-group.mb-3 input {
    border-radius: 0px !important;
}

a#basic-addon1 {
    border-radius: 0px !important;
    background: orange;
    color: white;
    border: 0px;
}

.number {
    margin-top: 21px;
}
.login-cart {
    margin-top: 18px;
}

.login-cart a {
    text-decoration: none;
    color: black;
}
button.position-relative {
    border: none;
    background: no-repeat;
}

span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-warning {
    font-size: 10px;
    left: 20px !important;
}

span.total_price {
    padding-left: 13px;
}

button.position-relative {
    margin-left: 19px;
}
.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide {
    padding: 0px !important;
    background: white;
    color: black;
}

button.uk-offcanvas-close.uk-icon.uk-close {
    color: black;
}
#heading-cart
{
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.categoreys {
    background: orange;
    padding: 6px 9px;
}
span#right-icon {
    float: right;
    margin-top: 4px;
}

.categoreys b {
    text-transform: uppercase;
    padding-left: 10px;
} 
.logo-header {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
/* .menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 0px;
    border-right: 1px solid lightgray;
    margin-left: 0px;
}

.menu-bar ul {
    padding: 0px;
    margin: 0px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 26px;
    transition: .3s;
}
.menu-bar ul li:last-child{
    border-right: 1px solid lightgray;
}
.menu-bar ul li:first-child{
    /* border-left: 1px solid lightgray; */

/* .menu-bar ul li a:hover {
    background: orange;
    color: white;
} */


.menu-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 6px 15px;
    /* border: 1px solid black; */
    border-right: 1px solid lightgray;
    margin: 0px !important;
    width: auto !important;
    margin:-4px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: black;
    padding: 0px 0px;
    /* border-right: 1px solid lightgray; */
}

.menu-bar ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.menu-bar ul li:first-child
{
    border-left: 1px solid lightgray;
}

.menu-bar ul li:nth-child(2)
{
    /* background-color: red; */
}
.cat-s {
    background: white;
    padding-left: 8px;
    padding: 13px 10px;
    border-bottom: 1px solid lightgray;
}
.cat-s a{
    text-decoration: none !important;
    color: black !important;
}
.cat-s {
    position: relative;
}

.cat-drop li {
    list-style: none;
    padding: 13px 9px;
    border-bottom: 1px solid lightgray;
}

.cat-drop {
    position: absolute;
    left: 287px;
    width: 100%;
    background: white;
    top: 0;
    /* padding: 12px 14px; */
    /* border-bottom: 1px solid lightgray; */
    transition: .3s;
    transform: translate(0px, 50px);
    opacity: 0;
    visibility: hidden;
}
.cat-drop-2 {
    position: absolute;
    left: 287px;
    width: 100%;
    background: white;
    top: 0;
    /* padding: 12px 14px; */
    /* border-bottom: 1px solid lightgray; */
    transition: .3s;
    transform: translate(0px, 50px);
    opacity: 0;
    visibility: hidden;
}

.cat-s:hover>.cat-drop
{
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
}
.cat-drop:hover>.cat-drop-2
{
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
}
.cat-drop {
    z-index: 9999;
}

.nav-link.active {
    background: none !important;
    color: orange !important;
}

.nav-link {
    color: black !important;
    font-size: 20px !important;
}
ul#pills-tab {
    border-bottom: 1px solid lightgray;
}
.product-single-box {
    background: white;
    padding: 7px;
    text-align: center;
    border-radius: 7px;
}

.prod-image a img:last-child {
    position: absolute;
    max-width: 170px;
    left: 0;
    transition: .6s;
    opacity: 0;
}

.prod-image {
    position: relative;
    overflow: hidden;
}
.prod-image img:last-child:hover
{
    opacity: 1;
    transform: scale(1.05);
}
.prod-name {
    margin-top: 10px;
}

.prod-name a {
    text-decoration: none;
    color: black !important;
    font-size: 14px;
}

.prod-price {
    margin-top: 10px;
}

.prod-price span {
    font-size: 14px;
}
.cart-btn a {
    text-decoration: none !important;
    color: white !important;
    background: black;
    padding: 6px 21px;
    border-radius: 7px;
}

.cart-btn {
    margin-top: 13px;
    /* position: relative; */
    /* overflow: hidden; */
}

.cart-btn a {
    position: relative;
    overflow: hidden !important;
}
span.cart-t {
    position: absolute;
    left: 24px;
    transition: .3s;
}

span#cart-i {
    position: absolute;
    left: 50px;
    transition: .3s;
    transform: translate(0px, 34px);
    opacity: 0;
}

a.cart-btn-l {
    padding: 8px 62px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

a.cart-btn-l:hover>span#cart-i
{
    transform: translate(0px, 0px);
    opacity: 1;
}
a.cart-btn-l:hover>span.cart-t
{
    transform: translate(0px, -30px);
    opacity: 0;
}
.product-single-box {
    position: relative;
}

div#stock-out {
    position: absolute;
    top: 12px;
    left: 0px;
}

div#offer {
    position: absolute;
    top: 38px;
    left: 0;
}

div#new {
    position: absolute;
    top: 11px;
    right: 0;
}
.uk-card.uk-card-default.uk-card-body.uk-position-z-index.uk-sticky {
    padding: 0px !important;    
}
.uk-card.uk-card-default.uk-card-body.uk-text-center.uk-position-z-index.uk-sticky.uk-active.uk-sticky-fixed.uk-sticky-below {
    top: 0px !important;
}
.uk-card.uk-card-default.uk-card-body.uk-text-center.uk-position-z-index.uk-sticky.uk-active.uk-sticky-fixed {
    top: 0px !important;
}
.uk-card.uk-card-default.uk-card-body.uk-position-z-index.uk-sticky.uk-active.uk-sticky-below.uk-sticky-fixed {
    top: 0px !important;
}
.uk-card.uk-card-default.uk-card-body.uk-position-z-index.uk-sticky.uk-active.uk-sticky-below.uk-sticky-fixed {
    z-index: 9999999999;
}

.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide {
    /* overflow: hidden; */
}   
.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide {
    color: black !important;
}

.prdouct-cart-details span {
    color: black !important;
    font-size: 14px;
}

span.product-cart-name {
}

span.product-cart-price {
    color: #ffaa0f !important;
}
a.product-cart-del {color: red !important;transition: .3s;text-decoration: none !important;}

a.product-cart-del:hover {
    background: white;
}

.cart-product-s {
    background: #f9f0f0;
    border-bottom: 1px solid lightgray;
    padding: 4px;
}
.cart-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid lightgray;
    padding-top: 9px;
}
.footer-section {
    background: #2e2e2e;
    padding: 20px 0px;
    color: white;
}

.footer-logo img {
    max-width: 45%;
}
.footer-div-title {
    margin-bottom: 15px;
}

.contact-details li {
    list-style: none;
}
.follow-details li {
    list-style: none;
    display: inline-block;
    padding: 6px 6px;
    background: black;
    border-radius: 5px;
}

.follow-details li:first-child {
    background: #6363e8;
    /* border-radius: 5px; */
}

.follow-details li:nth-child(2) {
    background: #22b022;
}

.follow-details li:nth-child(3) {
    background: linear-gradient(7deg, #2e1059, #ee0606);
}

.follow-details li:last-child {
    background: #3b3ba5;
}

.follow-details li a {
    text-decoration: none;
    color: white;
}
.useful-links li {
    list-style: none;
    padding: 5px 0px;
}

.useful-links li a {
    text-decoration: none;
    color: white;
}
.pay-method-image.text-right img {
    /* text-align: right !important; */
    max-width: 47%;
}

.pay-method-image.text-right {
    text-align: right;
}

.pay-method {
    overflow: hidden;
    border-top: 1px dashed white;
    padding-top: 10px;
    margin-top: 10px;
}